
<ion-content  slot="fixed">
    <img src="../../assets/icon/EarthsEssentials-Text-White.png" />



      
    <ion-card>
        <h1>Log In</h1>
        <h2>Don't have an account yet? <a>Register here</a></h2>
        <ion-card-content>
            <form [formGroup]="appForm" class="appForm">
            <div>
                
                    <ion-item class="item-form">
   
                        <ion-label position="floating">Username</ion-label>
                        <ion-input type="text"  formControlName="username"></ion-input>
                    </ion-item>
    
    
    
    
                    <ion-item class="item-form">
                       
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password"  formControlName="password"></ion-input>
                    </ion-item>
            
              


            </div>

           

            <!-- <ion-button shape="round" size="large" (click)="Login()">{{itemLanguage.LoginBtn}}</ion-button> -->
            <ion-button shape="round" size="large" (click)="logIn()">Login</ion-button>
            
            <span>Forgot your password? <a>Click here</a></span>

            
        </form>

        <img class="fingerprintIcon" (click)="fingerprintLogin()" src="../../assets/icon/fingerprint-white.png" />



        </ion-card-content>

    </ion-card>
       

 <!--<ion-item class="select-language" order="end">
                <ion-icon name="language"></ion-icon>

                <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event.detail.value)">
                    <ion-select-option *ngFor="let lg of languageList" value="{{lg.Code}}">{{lg.Language}}</ion-select-option>
                </ion-select>

            </ion-item>-->


           
       

 



</ion-content>
    