
ion-content {
    --background: var(--color-black-theme) !important;
    //--background: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary)), url('../../assets/login-background.jpg') center center/cover no-repeat !important;
    //--background: url('../../assets/login-background.jpg') center center/cover no-repeat !important;
    //background-color: rgba(var(--color-black-rgb) ,.75) !important;
  
 

    img {
       // height: 25vh !important;
        display: block !important;
        margin: 5% auto !important;
        padding: 10px !important;
   
    }

 

    ion-card {
      
    --background: linear-gradient(to bottom right, rgba(var(--color-black-rgb),.25), rgba(var(--color-black-rgb),.75)),url('../../assets/leaf-background.png') center center/contain no-repeat !important;
        border-radius:15px !important;
        //position: absolute;
        //top: 50%;
       // left: 50%;
        //transform: translate(-50%, -50%);
        width: 85%;
        margin: 5px auto  ;
        padding:20px 0px !important;

        h1{
            text-align: center;
            font-family:var(--font-family-semibold)!important;
            color:var(--color-white)!important;
        }
        h2{
            text-align: center;
            font-size:.9em !important;
            font-family:var(--font-family-light)!important;
            color:var(--color-white);
            a{
    
                color:var(--color-tertiary2) !important;
            }
        }

        ion-card-content {
            margin: 5% auto 0px !important;
            padding-bottom: 2% !important;
            div {
                
                ion-item{
                    margin-bottom: 20px !important;;
                }
            }

            ion-button {
                margin: 30px auto !important;
                width:60vw !important;
                display: block;
                font-size:.9em !important;
                --padding-top:25px !important;
                --padding-bottom:25px !important;
            }
         
            span{
                display:block;
                text-align: center;
                color:var(--color-white);
                font-family:var(--font-family-thin)!important;
                a{

                    color:var(--color-tertiary2) !important;
                }
            }
         
         
            .fingerprintIcon{
                
                height:70px !important;
                display: block;
                margin:10px auto!important;

            }
        }
    }
}
