
// ion-header#homeHeader {
//     // height: 37.5% !important;
//     background:  linear-gradient(to bottom right, var(--color-black-theme), var(--color-black)) !important;
//     height: auto !important;
//     transition: 0.3s linear;
//     --ion-toolbar-background: transparent !important;
//     //--ion-toolbar-background: linear-gradient(to bottom right, var(--color-black-theme), var(--color-black)) !important;
//     border-bottom-left-radius: var(--border-radius-size) !important;
//     border-bottom-right-radius:  var(--border-radius-size) !important;
//     display: block;
//     padding:10px 0px !important;
  
 
//     ion-toolbar {
//         color: var(--color-white);
      
     
//         .header-nav-container {
//             text-align: center;
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 0;
//             transform: translateY(-50%);
//             height: 45px;
//             min-height: 45px;
//             max-height: 45px;
//             .appLogo{
//                 opacity: 0;
//                 //max-height: 100%;
//                 max-width: fit-content;
//                 display: none;
//             }
        

            
//             ion-icon {
//                 font-size: 35px !important;
//             }

//             // strong {
//             //     font-size: 16px;
//             //     line-height: 26px;
//             // }
//         }
        
//     }
//     .header {
//             display: block!important;
//             margin: 5px auto !important;
//             --max-height:100px!important;
//             ion-card{
//                 border-radius: var(--border-radius-size) !important;
//               .userBadgeDiv{
//                   padding:2px  !important;
//                 .userBadge{
//                     display: block;
//                     margin:5px auto;
//                     min-height: 60px;
//                     max-height: 90px;
//                 }
//                 .userBadgeTag{
//                     text-align: center;
//                     display: block;
//                 }
//               }
            
//                 ion-card-title{
//                     font-family:var(--font-family-semibold)!important;
//                     color:var(--color-white);
//                     span{
//                         color:var(--color-primary) !important;
//                     }
//                 }

//                 ion-progress-bar{
//                     margin:2px auto 10px!important;
//                     --buffer-background:var(--color-primary) !important;
//                     --progress-background:var(--color-tertiary3) !important;
//                 }

//                 .buttonRow{
//                     margin:8px  auto !important;
//                     font-family:var(--font-family-semibold)!important;
//                     text-align: center !important;
//                     font-size: 1.2em !important;
//                 }

//             }
           
         
//         }

//     // &.sticky {
    
//     //     min-height: fit-content;
//     //     max-height: fit-content;
//     //     height: 100%;
      

//     //     ion-toolbar{
//     //         .header-nav-container {
//     //             .appLogo{
//     //                 opacity: 1;
//     //                 display: inline-block;
//     //                 width: 70%;
//     //                 vertical-align: bottom !important;
//     //             }
//     //         }
//     //     }

      
    
//     //     .header{
//     //         height: 0px !important;
//     //         display: none !important;
//     //     }
      
    
      
//     // }



    
// }



ion-header#simpleHeader {
    ion-toolbar {
        color: var(--color-white);
        --min-height: 50px !important;
        //--ion-toolbar-background: linear-gradient(-75deg, var(--color-primary), var(--color-primary), var(--color-secondary)) !important;
        --ion-toolbar-background:var(--color-primary) !important;

        .header-nav-container {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            transform: translateY(-50%);

            ion-icon {
                margin-top: 2px !important;
                font-size: 22px !important;
                font-weight: 200 !important;
            }

            strong {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}




