
 <ion-header [translucent]="true" id="homeHeader" #header>
    <ion-toolbar>
        <ion-title>
            <div class="header-nav-container">
                <img class="appLogo ion-float-left ion-margin-horizontal" src="../../assets/icon/EarthsEssentials-Text-White.png" />
                <ion-icon name="menu" class="ion-float-right ion-margin-horizontal" (click)="openMenu()"></ion-icon>
            </div>
        </ion-title>
    
    </ion-toolbar>
    <div class="header">
      
         <ion-card>
             <div class="userBadgeDiv">
                <img class="userBadge" src="../../assets/icon/badge/gold-icon.png" />
                <span class="userBadgeTag">Team Leader &#9733;</span>
             </div>
        
            <ion-card-header>
                <ion-card-title>Welcome back, <span>TESTNAME</span></ion-card-title>
             
            </ion-card-header>
            <ion-card-content>
             <ion-row>
                 <ion-col class="ion-text-left">
                     Next Network Level
                 </ion-col>
                 <ion-col class="ion-text-right">
                    65%
                </ion-col>
             </ion-row>
             <ion-progress-bar color="primary" value="0.65"></ion-progress-bar>
             <ion-row class="buttonRow">
                <ion-col>
                    Upgrade
                </ion-col>
                <ion-col>
                   Invite
               </ion-col>
            </ion-row>
            </ion-card-content>
          </ion-card>
    </div>
</ion-header> 


<ion-content [fullscreen]="true" [scrollEvents]="true" #scrollArea (ionScroll)="onWindowScroll($event)" (ionScrollStart)="scrollStart(header)">

    <ion-item>
        <ion-card class="ion-padding-bottom">
            <div class="ion-padding-horizontal ion-text-center">
                <h2>Updated terms and conditions</h2>
                <span  class="text-color-white">Our <a class="text-color-tertiary2" href="#">Terms and conditions</a> are  updated (2021-05-29)</span>
            </div>

            <ion-button class="termsBtn" shape="round" >Open Terms & Conditions</ion-button>

          
        </ion-card>
    
    </ion-item>
  
    <ion-slides [pager]="true">
        <ion-slide>

            <!--<p-card header="Wallet"  [style]="{width: '70vw'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/showcase/images/usercard.png">
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
            </p>

        </p-card>-->

            <p-card styleClass="p-card-shadow">
                <ng-template pTemplate="header">

                    <strong class="color-primary">My Wallet</strong>
                </ng-template>

                <!-- <i class="pi pi-wallet card-icons color-primary"></i> -->
                <img class="card-img" src="../../assets/icon/badge/silver-icon.png" />
               
                <p>
                    100,000.00<span>PHP</span>
                </p>

            </p-card>

        </ion-slide>

        <ion-slide>

          
            <p-card styleClass="p-card-shadow">
                <ng-template pTemplate="header">

                    <strong class="color-secondary">Referral Bonus</strong>
                </ng-template>

                <i class="pi pi-users card-icons color-secondary"></i>
                <p>
                    5,000.00<span>PHP</span>
                </p>

            </p-card>

        </ion-slide>







        <ion-slide>

            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [colors]="barChartColors"
                    [chartType]="barChartType"></canvas>
        </ion-slide>

        <ion-slide>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"></canvas>

        </ion-slide>

    </ion-slides>



    <ion-list class="item-list ">
      
        <ion-item>
            <ion-card>
                <img src="../../assets/bg.jpg" />
                <ion-card-header>
                  <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                  <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
        </ion-item>
         
        <ion-item>
            <ion-card>
                <img src="../../assets/bg2.jpg" />
                <ion-card-header>
                  <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                  <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
        </ion-item>

        <ion-item>
            <ion-card>
                <img src="../../assets/bg3.png" />
                <ion-card-header>
                  <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
                  <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
                </ion-card-content>
              </ion-card>
        </ion-item>
    </ion-list>
<!-- 
    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <ion-card>
                    <ion-card-content>
                        <button block ion-button (click)="openPage('genealogy')">
                            <ion-icon name="git-network-outline"></ion-icon>
                            <p>{{itemLanguage.Genealogy}}</p>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col col-4>
                <ion-card>
                    <ion-card-content>
                        <button block ion-button (click)="openPage('claims')">
                            <ion-icon name="card-outline"></ion-icon>
                            <p>{{itemLanguage.Claims}}</p>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col col-4>
                <ion-card>
                    <ion-card-content>
                        <button block ion-button (click)="openPage('purchase-request-approval')">
                            <ion-icon name="wallet-outline"></ion-icon>
                            <p>{{itemLanguage.Wallet}}</p>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
         
        </ion-row>
        <ion-row>
            <ion-col col-4>
                <ion-card>
                    <ion-card-content>
                        <button block ion-button (click)="openPage('barcode-scanner')">
                            <ion-icon name="barcode-outline"></ion-icon>
                            <p>{{itemLanguage.BarcodeScanner}}</p>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col col-4>
                <ion-card>
                    <ion-card-content>

                        <button block ion-button (click)="openPage('home')">
                            <ion-icon name="calendar-outline"></ion-icon>
                            <p>Lorem Ipsum</p>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>


            <ion-col col-4>
                <ion-card>
                    <ion-card-content>
                        <button block ion-button (click)="openPage('home')">
                            <ion-icon name="library-outline"></ion-icon>
                            <p>Lorem Ipsum</p>
                        </button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid> -->



</ion-content>
