


ion-menu {
    z-index: 999 !important;

    ion-header {
        ion-toolbar {
            //--ion-toolbar-background: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary)) !important;
            --ion-toolbar-background: var(--color-primary) !important;
            color: white !important;
        }
    }

    .menuList {

        span {
            margin: 0px 15px !important;
        }
    }


    .logoutButton {
        position: absolute !important;
        bottom: 0 !important;
        width: 100% !important;
        border: unset !important;

        span {
            margin: 0px 15px !important;
        }
    }
}
