
<app-header-nav pageName={{itemLanguage.TitlePage}} isBackButton="true"></app-header-nav>



<ion-content [fullscreen]="true" #ionContent>
<!-- 
    <div class="genealogyDiv" #genealogyDiv>

        <p-organizationChart [value]="data1" selectionMode="single" (onNodeSelect)="onNodeSelect($event)"
                             styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <img class="node-avatar" src="{{node.data.avatar}}"/>
                    <div>{{node.data.name}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
    </div> -->


    <div class="genealogyDiv">
        <ion-grid>
            <ion-row>
                <!-- <ion-col class="large-col"> 
                  
                </ion-col> -->
                <ion-col class="lg-col"> 
                    <span class="vertical-line line-bottom"></span>

                    <div class="badgeDiv">
                    <img class="badge badge-large" src="../../assets/icon/badge/gold-icon.png" />
                    <h2>Test Admin</h2>
                    </div>
                </ion-col>
                <!-- <ion-col class="large-col"> 
                 
                </ion-col> -->
            </ion-row>
            <ion-row>
                <ion-col> 
                    <span class="vertical-line line-top"></span>
                    <span class="horizontal-line line-top line-right"></span>
                    <div class="badgeDiv">
                    <img class="badge badge-small" src="../../assets/icon/badge/silver-icon.png" />
                    <h3>Sample Name 1</h3>
                    </div>
                </ion-col>
                <ion-col> 

                    <span class="vertical-line line-top"></span>
                    <span class="horizontal-line line-top line-left"></span>

                    <div class="badgeDiv">
                        <img class="badge badge-small" src="../../assets/icon/badge/gold-icon.png" />
                        <h3>Sample Name 2</h3>
                    </div>
                
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col  class="md-col"> 
                    <span class="vertical-line line-top line-long"></span>
                    <!-- <span class="horizontal-line line-right"></span> -->
                    <div class="badgeDiv">
                        <span class="horizontal-line line-middle line-right line-short"></span>

                        <img class="badge badge-small" src="../../assets/icon/badge/green-icon.png" />
                        <h3>Sample Name 3</h3>
                    </div>
                   
                  
                   
                </ion-col>
                <ion-col> 

                </ion-col>
            </ion-row>


        </ion-grid>
        
    </div>

    <ion-item class="item-list pageTitle">
        <h1 slot="start">
            Details
        </h1>
    </ion-item>


    <ion-list>
        <ng-container *ngIf="selectedItem != null">
            <ion-item>
                <ion-label></ion-label>
                <p> {{selectedItem.label}}</p>
            </ion-item>
            <ion-item *ngIf="selectedItem.data != null ">
                <ng-container *ngIf=" selectedItem.data.name != null ">
                    <ion-label>Name</ion-label>
                    <p>{{selectedItem.data.name}} </p>
                </ng-container>
                
            </ion-item>
        </ng-container>
       


        <!--<ion-item>
        <ion-label>{{itemLanguage.ReferenceNumber}}</ion-label>
        <p>{{prDetails.ReferenceNumber}} </p>
    </ion-item>

    <ion-item>
        <ion-label>{{itemLanguage.Description}}</ion-label>
        <p>{{prDetails.Description}} </p>
    </ion-item>


    <ion-item>
        <ion-label>{{itemLanguage.Site}}</ion-label>
        <p>{{prDetails.Site}} </p>
    </ion-item>

    <ion-item>
        <ion-label>{{itemLanguage.Date}}</ion-label>
        <p>{{prDetails.Date}} </p>
    </ion-item>-->



    </ion-list>


</ion-content>


