/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



@import "~primeng/resources/themes/arya-green/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";


/* CUSTOM CSS*/
ion-app {
    font-family:var(--font-family-light)!important;

    ion-button {
        --background: var(--color-secondary) !important;
        text-transform: unset !important;
        font-family:var(--font-family-semibold)!important;
    }

    ion-icon{
        font-family:var(--font-family-thin)!important;


    }
}


.text-color-primary{
    color: var(--color-primary)!important;
}

.text-color-secondary{
    color: var(--color-secondary)!important;
}
.text-color-tertiary{
    color: var(--color-tertiary)!important;
}

.text-color-tertiary2{
    color: var(--color-tertiary2)!important;
}

.text-color-tertiary3{
    color: var(--color-tertiary3)!important;
}

.text-color-white{
    color: var(--color-white)!important;
}

.text-color-black{
    color: var(--color-black)!important;
}
.text-color-lightgray{
    color: var(--color-lightgray)!important;
}

.text-regular{
    font-family:var(--font-family-regular)!important;
}

.text-thin{
    font-family:var(--font-family-thin)!important;
}

.text-light{
    font-family:var(--font-family-light)!important;
}
.text-medium{
    font-family:var(--font-family-medium)!important;
}
.text-semibold{
    font-family:var(--font-family-semibold)!important;
}
.text-bold{
    font-family:var(--font-family-bold)!important;
}

.p-toast-top-center {
left:unset !important;
margin-left: unset !important;
margin:5px auto!important;
width:100% !important;
padding:0px 10px !important;
}


.item-form {
    --background:rgba(var(--color-black-rgb),.75) !important;
    font-family:var(--font-family-light)!important;
    --min-height: 30px !important;
    height: 50px !important;
    font-size: 16px !important;
    margin: 0px 0px 0px !important;

    //border-radius: 5px !important;

    //--border-width: 0 0 1px 0 !important;
    --border-width: 0 0 1px 0 !important;
    // border-bottom: solid 1px var(--color-lightgray) !important;
    --border-color: var(--color-lightgray) !important;

    // --highlight-color-focused: unset !important;
    // --highlight-color: unset !important;

    --highlight-color-valid: var(--color-tertiary2) !important;

    --highlight-color-focused: var(--color-tertiary2) !important;
    --highlight-height: 1px !important;
    /*&.item-form {
        --highlight-color: #ff0000 !important;
        //  --highlight-color: unset !important;
        //  --highlight-color: var(--color-lightgray) !important;
    }*/


    // &.item-has-focus {
    //     --border-color: var(--color-tertiary2) !important;

    // }

    &.item-has-focus > .label-floating {
        color: var(--color-tertiary2);
        font-family:var(--font-family-thin)!important;
    }

    .label-floating {
        font-size: .9em !important;
        color: var(--color-tertiary2);
        font-family:var(--font-family-thin)!important;
    }

    &.item-has-focus > .label-stacked {
        color: var(--color-tertiary2);
        font-family:var(--font-family-thin)!important;
    }

    .label-stacked {
        font-size: .9em !important;
        color: var(--color-tertiary2);
        font-family:var(--font-family-thin)!important;
    }



    ion-input {
        color: var(--color-white);
        font-family:var(--font-family-light)!important;
        input {
            padding: 2px !important;
        }
    }

    ion-select {
          color: var(--color-white);
    }

    &.item-textarea{
        // .item-native{
        // height: 100px !important; 

        // }
        ion-textarea{
            color: var(--color-white);
          textarea{
        height: 60px !important; 
           
            // height: 35px !important;    
          }
        }
        height: 90px !important; 
    }




    ion-icon {
        margin: 22px 8px 0px 0px !important;
        border-right: 1px solid var(--color-tertiary2) !important;
        padding: 0px 10px 0px 0px !important;
        font-size: 1.2em !important;
    }
}



.item-list {
    // --border: unset !important;
    --inner-border-width: 0 0 0 0;


    .item-native {
        .item-inner {
            --border: unset !important;
            --border-color: unset !important;
        }
    }
}



    ion-checkbox {
        --border-radius: 5px !important;
        --border-width: 1px !important;
        --background-checked: var(--color-primary) !important;
        --border-color-checked: var(--color-primary) !important;
    }



